# Core Libraries
numpy==1.23.5  # Compatible version for sklearn

pandas
scikit-learn==1.2.2  # Force a stable version
nltk
requests
streamlit

# Force reinstall all dependencies
pip
setuptools
wheel

